//GLOBAL
$page_background: rgb(0, 0, 0);
$letter: rgb(255, 255, 255);
$letter-secundari: rgb(0, 0, 0);
$hover: rgb(246, 185, 34);

//LOGIN - REGISTER
$background_box: linear-gradient(315deg,rgb(211, 164, 47) 0%,rgb(241, 239, 236) 75%);
$box_shadow_box: 0px 0px 10px 10px rgba(170, 170, 170, 0.5);
$letter-box: rgb(0, 0, 0);
$button-box: linear-gradient(315deg,rgb(192, 186, 170) 0%,rgb(88, 88, 88) 75%);
$button_hover-box: rgb(0, 0, 0);
$button_letter-box:  rgb(255, 255, 255);

//BUTTON
$button-main: linear-gradient(315deg,rgb(105, 82, 23) 0%,rgb(246, 185, 34) 75%);
$buton-hover: rgb(0, 0, 0);
