.container-carousel {
  position: relative;
  top: 590px;
  width: 100%;
  padding: 2% 4%;
}

.description-carrusel {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
  h3 {
    margin-right: 3rem;
    font-size: 1.7rem;
  }
}

.btn-description {
  width: 150px;
  text-transform: lowercase;
  height: 40px;
  font-size: 90%;
  color: $letter;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: $button-box;
  &:hover {
    color: $button_hover-box;
    background-position: right center;
  }
}

.carrusel {
  position: relative;
  button{
    display: none;
  }
  &:hover{
    button {
      display: block;
      background: rgba(128, 128, 128, 0.5);
      border-radius: 5px;
      position: absolute;
      height: 100%;
      width: 25px;
      border: 0;
      cursor: pointer;
      svg {
        font-size: 20px;
        color: #fff;
      }
      &:hover {
        background: $hover;
        svg {
          color: black;
        }
      }
    }
    .button-pre {
      top: 0px;
      left: 0px;
    }
  
    .button-next {
      top: 0px;
      right: 0px;
    }
  }
}

.list-carousel {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  gap: 10px;
  overflow: hidden;
}

@media (max-width: 1100px) {
  .list-carousel {
    overflow: auto;
  }
}
